.widget-about .logo {
    max-width: 10em;
}
a{
	color: red;
}
.sep-after:after, .sep-before:before {
    content: "";
    display: block;
    width: 8em;
    margin-top: 1em;
    margin-bottom: 1em;
    border-bottom: .125em solid #ff5722;
}